{% set python_path = '/usr/lib/python2.7/site-packages' if kolla_install_type == 'binary' else '/var/lib/kolla/venv/lib/python2.7/site-packages' %}
{
    "command": "nova-api",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/nova.conf",
            "dest": "/etc/nova/nova.conf",
            "owner": "nova",
            "perm": "0600"
        }{% if nova_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ nova_policy_file }}",
            "dest": "/etc/nova/{{ nova_policy_file }}",
            "owner": "nova",
            "perm": "0600"
        }{% endif %}{% if nova_custom_vendordata_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ nova_custom_vendordata_file }}",
            "dest": "{{ python_path }}/nova/api/metadata/{{ nova_custom_vendordata_file }}",
            "owner": "nova",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/nova",
            "owner": "nova:nova",
            "recurse": true
        }
    ]
}
