---
modules:
{% for module in prometheus_snmp_exporter_modules %}
  {{ module.name }}:
    walk:
      - interfaces
    version: 1
{% if module.community %}
    auth:
      community: {{ module.community }}
{% endif %}
{% endfor %}
