{% set keystone_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
{
    "command": "/usr/bin/keystone-startup.sh",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/keystone-startup.sh",
            "dest": "/usr/bin/keystone-startup.sh",
            "owner": "root",
            "perm": "0755"
        },
        {
            "source": "{{ container_config_directory }}/keystone.conf",
            "dest": "/etc/keystone/keystone.conf",
            "owner": "keystone",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/keystone-paste.ini",
            "dest": "/etc/keystone/keystone-paste.ini",
            "owner": "keystone",
            "perm": "0600",
            "optional": true
        },
        {
            "source": "{{ container_config_directory }}/domains",
            "dest": "/etc/keystone/domains",
            "owner": "keystone",
            "perm": "0600",
            "optional": true
        }{% if keystone_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ keystone_policy_file }}",
            "dest": "/etc/keystone/{{ keystone_policy_file }}",
            "owner": "keystone",
            "perm": "0600"
        }{% endif %},
        {
            "source": "{{ container_config_directory }}/wsgi-keystone.conf",
            "dest": "/etc/{{ keystone_dir }}/wsgi-keystone.conf",
            "owner": "keystone",
            "perm": "0600"
        }{% if should_use_oidc %},
        {
            "source": "{{ container_config_directory }}/metadata",
            "dest": "{{ container_keystone_federation_oidc_metadata_folder }}",
            "merge": true,
            "preserve_properties": true
        },
        {
            "source": "{{ container_config_directory }}/cert",
            "dest": "{{ container_keystone_federation_oidc_idp_certificate_folder }}",
            "merge": true,
            "preserve_properties": true
        }
        {% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla",
            "owner": "keystone:kolla"
        },
        {
            "path": "/var/log/kolla/keystone/keystone.log",
            "owner": "keystone:keystone"
        },{% if should_use_oidc %}
        {
            "path": "/etc/apache2/metadata",
            "owner": "www-data:www-data",
            "perm": "0700",
            "recurse": true
        },
        {
            "path": "/etc/apache2/cert",
            "owner": "www-data:www-data",
            "perm": "0700",
            "recurse": true
        },{% endif %}
        {
            "path": "/etc/keystone/fernet-keys",
            "owner": "keystone:keystone",
            "perm": "0770"
        },
        {
            "path": "/etc/keystone/domains",
            "owner": "keystone:keystone",
            "perm": "0700"
        }
    ]
}
