{%+ if enable_glance | bool %}python-glanceclient{% endif %}
{%+ if enable_keystone | bool %}python-keystoneclient{% endif %}
{%+ if enable_neutron | bool %}python-neutronclient{% endif %}
{%+ if enable_nova | bool %}python-novaclient{% endif %}
{%+ if enable_aodh | bool %}aodhclient{% endif %}
{%+ if enable_barbican | bool %}python-barbicanclient{% endif %}
{%+ if enable_blazar | bool %}python-blazarclient{% endif %}
{%+ if enable_ceilometer | bool %}python-ceilometerclient{% endif %}
{%+ if enable_cinder | bool %}python-cinderclient{% endif %}
{%+ if enable_cloudkitty | bool %}python-cloudkittyclient{% endif %}
{%+ if enable_congress | bool %}python-congressclient{% endif %}
{%+ if enable_designate | bool %}python-designateclient{% endif %}
{%+ if enable_freezer | bool %}python-freezerclient{% endif %}
{%+ if enable_gnocchi | bool %}gnocchiclient{% endif %}
{%+ if enable_heat | bool %}python-heatclient{% endif %}
{%+ if enable_ironic | bool %}python-ironicclient{% endif %}
{%+ if enable_karbor | bool %}python-karborclient{% endif %}
{%+ if enable_kuryr | bool %}# missing kuryr client{% endif %}
{%+ if enable_magnum | bool %}python-magnumclient{% endif %}
{%+ if enable_manila | bool %}python-manilaclient{% endif %}
{%+ if enable_mistral | bool %}python-mistralclient{% endif %}
{%+ if enable_monasca | bool %}python-monascaclient{% endif %}
{%+ if enable_murano | bool %}python-muranoclient{% endif %}
{%+ if enable_octavia | bool %}python-octaviaclient{% endif %}
{%+ if enable_panko | bool %}pankoclient{% endif %}
{%+ if enable_sahara | bool %}python-saharaclient{% endif %}
{%+ if enable_searchlight | bool %}python-searchlightclient{% endif %}
{%+ if enable_senlin | bool %}python-senlinclient{% endif %}
{%+ if enable_solum | bool %}python-solumclient{% endif %}
{%+ if enable_swift | bool %}python-swiftclient{% endif %}
{%+ if enable_tacker | bool %}python-tackerclient{% endif %}
{%+ if enable_trove | bool %}python-troveclient{% endif %}
{%+ if enable_vitrage | bool %}python-vitrageclient{% endif %}
{%+ if enable_watcher | bool %}python-watcherclient{% endif %}
{%+ if enable_zun | bool %}python-zunclient{% endif %}
